/* index.css */
#wrap main {}
#wrap main #hero_bnr {
    height:830px; min-width: 1220px;
    background-image: url(../images/benner.jpg);
    background-size:cover;
    background-position:center;
    padding-top: 470px;
}
#wrap main #hero_bnr .ad_txt {
    text-align: center;
    margin: 25px;
}
#wrap main #hero_bnr .ad_txt p {font-size: 1.88rem; font-weight: 600;}
#wrap main #hero_bnr .ad_txt h1 {font-size: 3.13rem; font-weight: 700;}
#wrap main #hero_bnr .ad_txt p,
#wrap main #hero_bnr .ad_txt h1 {
    /* text-shadow:x 흐림,색상; */
    text-shadow: 0 4px 4px rgba(0,0,0,0.25);
    color: #fff; line-height: 1.5;
    font-family:'noto sans kr', sans-serif;
}
#wrap main #hero_bnr #reservation_form {
    width:965px;
    margin:0 auto;
    padding:15px 20px;
    border-radius:10px;
    background-color:rgba(255, 255, 255, 0.6);
    display: flex; /* 객실~체크인아웃~인원~검색 자식들 정렬 flex */
    flex-flow: row nowrap; /* 메인축 (수평) */
    align-items: center;/* 교차축(수직)가운데 */
    justify-content: space-between; /* 메인축 (수평) 양쪽 끝 배치 */
}
/* ----------------------------------------객실~인원 공통디자인 */
#wrap main #hero_bnr #reservation_form .room h2,
#wrap main #hero_bnr #reservation_form .check_in_out .in h2,
#wrap main #hero_bnr #reservation_form .check_in_out .out h2,
#wrap main #hero_bnr #reservation_form .person h2 {
    padding-bottom: 10px;
}
#wrap main #hero_bnr #reservation_form h2+div,
#wrap main #hero_bnr #reservation_form ul li {
}
/* ----------------------------------------객실선택 */
#wrap main #hero_bnr #reservation_form .room {}
#wrap main #hero_bnr #reservation_form .room h2 {}
#wrap main #hero_bnr #reservation_form .room .room_type:hover .room_open {display: block;}
#wrap main #hero_bnr #reservation_form .room .room_type {
    position:relative; 
}
#wrap main #hero_bnr #reservation_form .room .room_type > a, 
#wrap main #hero_bnr #reservation_form .room .room_type > .room_open a {
    /* 포사이드방 */
    background-color: #fff; width:162px; height: 48px;
    border-radius: 5px; border: #808080 solid 1px;
    padding:0 10px;
    display:flex; /* flex 설정 시 형제끼리 크기 맞추는 자동설정 때문에 이미지 비율이 망가져 보일 수 있음 (메인 교차축 설정 적용하면 해결 */
    align-items: center; justify-content: space-between;
}
#wrap main #hero_bnr #reservation_form .room .room_type > a .name,
#wrap main #hero_bnr #reservation_form .room .room_type > .room_open .name {
    font-size: 0.88rem;
}
#wrap main #hero_bnr #reservation_form .room .room_type > a .name span,
#wrap main #hero_bnr #reservation_form .room .room_type > .room_open .name span {
    font-size: 0.75rem; color: #808080;
}
#wrap main #hero_bnr #reservation_form .room .room_type > a img {}
#wrap main #hero_bnr #reservation_form .room .room_type .room_open {
    position:absolute; left:0; top:49px;
    /* absolute 설정 시 기존태그 크기가 inline-block처럼 바뀜 */
    display:none;
}
#wrap main #hero_bnr #reservation_form .room .room_type .room_open a {}
#wrap main #hero_bnr #reservation_form .room .room_type .room_open a .name {}
#wrap main #hero_bnr #reservation_form .room .room_type .room_open a .name span {}
/* ----------------------------------------체크인/아웃날짜 */
#wrap main #hero_bnr #reservation_form .check_in_out {
    display: flex;
    /* 메인축방향 줄바꿈처리 flex-flow */
    flex-flow:row nowrap; gap: 12px;
}
/* ----------------------------------------체크인&아웃 공통*/
#wrap main #hero_bnr #reservation_form .check_in_out .in .chk_in a,
#wrap main #hero_bnr #reservation_form .check_in_out .out .chk_out a {
    background-color: #fff; width:162px; height: 48px;
    border-radius: 5px; border: #808080 solid 1px;
    padding:0 10px; 
    display:flex; flex-flow: row nowrap;
    align-items: center; justify-content: space-between;
    font-size: 0.88rem;
}
/* ----------------------------------------체크인*/
#wrap main #hero_bnr #reservation_form .check_in_out .in {}
#wrap main #hero_bnr #reservation_form .check_in_out .in h2 {}
#wrap main #hero_bnr #reservation_form .check_in_out .in .chk_in {}
#wrap main #hero_bnr #reservation_form .check_in_out .in .chk_in a .date {}
#wrap main #hero_bnr #reservation_form .check_in_out .in .chk_in a img {}
#wrap main #hero_bnr #reservation_form .check_in_out .day {
    display: flex; flex-flow: column nowrap;
    align-items: center; justify-content: center;
}
#wrap main #hero_bnr #reservation_form .check_in_out .day img {margin: 6px 0;}
#wrap main #hero_bnr #reservation_form .check_in_out .day em {}
#wrap main #hero_bnr #reservation_form .check_in_out .out {}
#wrap main #hero_bnr #reservation_form .check_in_out .out h2 {}
#wrap main #hero_bnr #reservation_form .check_in_out .out .chk_out {}
#wrap main #hero_bnr #reservation_form .check_in_out .out .chk_out a {}
#wrap main #hero_bnr #reservation_form .check_in_out .out .chk_out a .date {}
#wrap main #hero_bnr #reservation_form .check_in_out .out .chk_out a img {}
/* ----------------------------------------체크인/인원 */
#wrap main #hero_bnr #reservation_form .person {}
#wrap main #hero_bnr #reservation_form .person h2 {}
#wrap main #hero_bnr #reservation_form .person .number {
    display: flex; flex-flow:row nowrap; gap: 8px;
}
/* ----------------------------------------인원 공통 */
#wrap main #hero_bnr #reservation_form .person .number li {
    background-color: #fff; width:134px; height: 48px;
    border-radius: 5px; border: #808080 solid 1px;
    font-size: 0.88rem;
    display:flex; flex-flow: row nowrap;
    align-items: center; justify-content: space-between;
    padding: 0 5px;
}
#wrap main #hero_bnr #reservation_form .person .number li .number_btn {width: 24px; height: 24px;}/* 공통버튼 */
#wrap main #hero_bnr #reservation_form .person .number li .number_btn img {}
#wrap main #hero_bnr #reservation_form .person .number li #adult_add {}
#wrap main #hero_bnr #reservation_form .person .number li #adult_remove {}
#wrap main #hero_bnr #reservation_form .person .number li span {}
#wrap main #hero_bnr #reservation_form .person .number li span label {}
#wrap main #hero_bnr #reservation_form .person .number li span input {
    width:30px; text-align:center;
}
#wrap main #hero_bnr #reservation_form .person .number li span #adult {}
#wrap main #hero_bnr #reservation_form .person .number li span #kid {}
#wrap main #hero_bnr #reservation_form .person .number li span #kid_add {}
#wrap main #hero_bnr #reservation_form .person .number li span #kid_remove {}
/* ----------------------------------------검색 버튼 */
#wrap main #hero_bnr #reservation_form > p {
}
#wrap main #hero_bnr #reservation_form > p #search_button {
    background-color:#000;
    color: #fff;
    width:80px; height:48px;
    border-radius:5px;
    font-size: 0.88rem;
    position:relative; left:0; top: 13px;
}
/* ---------------------------------------- 2. 양림동 호랑가시나무 소개  */
#wrap main #contents_guest_bg {
    background-color: #F5F5F5;
}
#wrap main #contents_guest_bg #contents_guest {}
#wrap main #contents_guest_bg #contents_guest h1 {}
#wrap main #contents_guest_bg #contents_guest p {}/* 공통 */
#wrap main #contents_guest_bg #contents_guest h1+p {}
#wrap main #contents_guest_bg #contents_guest p:last-child {}
#wrap main #contents_guest_bg #contents_guest p:last-child img {width:100%;}
/* ---------------------------------------- 3. 관광지 소개  */
#wrap main #contents_tourist {}
#wrap main #contents_tourist h1 {}
#wrap main #contents_tourist p {}
#wrap main #contents_tourist .tourist_g {
    display:flex; flex-flow: row nowrap;
    justify-content: space-between;/* 메인축정렬 */
    margin: 0 0 50px; /* ul+a(more)의 여백 */
}
#wrap main #contents_tourist .tourist_g li {width: calc((100% - 60px) / 4);}
#wrap main #contents_tourist .tourist_g li a {
    overflow: hidden;
    height: 250px; display:block;
    margin: 0 0 10px;/* img+a의 여백 */
}
#wrap main #contents_tourist .tourist_g li a img {width:100%;}
#wrap main #contents_tourist .tourist_g li a:hover img {width:120%;}
#wrap main #contents_tourist .tourist_g li h2 {
    font-size: 1.13rem; font-weight: 500;
}
#wrap main #contents_tourist .more  {}
/* ---------------------------------------- 4. 방 소개  */
#wrap main #contents_room_bg {background-color: #F5F5F5;}
#wrap main #contents_room {}
#wrap main #contents_room h1 {}
#wrap main #contents_room p {font-size: 0.88rem; color: #555; margin: 0 0 30px; line-height: 1.7;}
#wrap main #contents_room .room_g {
    display:flex; flex-flow: row nowrap;
    align-items:center;
    justify-content: space-between
}
#wrap main #contents_room .room_g li {}
#wrap main #contents_room .room_g li .action {}
#wrap main #contents_room .room_g li a {}
#wrap main #contents_room .room_g li a img {}
#wrap main #contents_room .room_g li h2 {
    font-size: 1.13rem; font-weight: 500; margin: 10px 0;
}
/* ---------------------------------------- 4. 오시는 길 소개  */
#wrap main #contents_directions {}
#wrap main #contents_directions .title_g {
    display: flex; justify-content: space-between
    ;
}
#wrap main #contents_directions .title_g h1 {}
#wrap main #contents_directions .title_g p {font-size: 1rem; color: #000;}
#wrap main #contents_directions img {margin: 0 0 30px;}
#wrap main #contents_directions .traffic {margin-bottom: 30px;}
#wrap main #contents_directions .traffic h2 {font-weight: 700; color: #555; line-height: 1.7; font-size: 1.5rem;}
#wrap main #contents_directions .traffic p {font-size:0.94rem; color: #555; line-height: 1.8;}
/* ----------------------------------------footer  */
footer {
}
footer #footer_bg  {background-color: #000; }
footer #footer_bg address {
    padding: 70px 0;
    width:1220px; margin: 0 auto;
}
footer #footer_bg address span {
    display: block;
    font-size: 0.81rem; line-height:2; color: #fff;
}

